main {
    display: block;
}

body {
    margin: 0%;
}

table {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    width: 80%;
    font-size: 19px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

td {
    width: 25%;
}

.textarea {
    resize: none;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 4px;
    height: 29px;
    padding-top: 10px;
    vertical-align: middle;
    width: 80%;
    padding-left: 12px;
    margin-top: 0.5em;
}

button {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    height: 43px;
    width: 85%;
    background-color: #FBEBA5;
    margin-right: 2%;
    margin-top: 0.5em;
    border: 2px solid black;
    box-sizing: border-box;
}

button:hover {
    background-color: #e5d17a;
}

.submit {
    background-color: #8FBBAF;
}

.submit:hover {
    background-color: #7da59a;
}

.s-btn {
    border: none;
    font-size: 20px;
    border-radius: 10px;
    width: 100px;
    background-color: transparent;
    vertical-align: middle;
    margin: 0;
}

.s-btn:hover {
    background-color: transparent;
}

.s-btn-img {
    width: 20px;
    padding: 12px;
}

.text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5%;
    margin-left: 5%;
    width: 190px;
}

.content-table {
    text-align: center;
}

.heading {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 50px;
}

.penalty {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin-top: 16px;
    text-align: center;
}

.verified {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin-top: 16px;
    text-align: center;
}

.search {
    resize: none;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 40px;
    height: 32px;
    padding-top: 10px;
    vertical-align: middle;
    width: 50%;
    padding-left: 20px;
    margin-right: -100px;
}

.search_bar {
    text-align: center;
}

.image1 {
    margin-top: -1.5%;
    text-align: center;
}

.img {
    height: 200px;
}

#info {
    text-align: right;
    margin-right: 3%;
    margin-top: 3%;
}

#info-link {
    background-color: rgb(133, 133, 255);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.error {
    display: none;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    margin-top: 35%;
    font-size: 26px;
    font-weight: bolder;
}

@media screen and (max-aspect-ratio: 3/2) {
    main {
        display: none;
    }

    .error {
        display: block;
    }
}