main {
    margin-left: 5%;
    margin-top: 5%;
}

.textarea {
    resize: none;
    font-size: 19.5px;
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
    height: 25px;
    padding-top: 5px;
    vertical-align: middle;
    width: 190px;
    margin-left: 3%;
    padding-left: 10px;
}

button {
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    background-color: aliceblue;
    margin-right: 2%;

}

button:hover {
    background-color: beige;
}

.text {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.heading {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 50px;
}

.penalty {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 16px;
}

.verified {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 16px;
}

.search {
    resize: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    height: 32px;
    padding-top: 10px;
    vertical-align: middle;
    width: 40%;
    padding-left: 10px;
}

.search_bar {
    text-align: center;
}