body {
    margin: 0%;
}

table {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 19px;
    font-family: 'Nunito Sans';
    font-weight: bold;
}

td {
    width: 25%;
}

.textarea {
    resize: none;
    font-size: 19px;
    font-family: 'Nunito Sans';
    border-radius: 4px;
    height: 29px;
    padding-top: 5px;
    vertical-align: middle;
    width: 80%;
    padding-left: 12px;

}

button {
    font-family: 'Nunito Sans';
    font-size: 16px;
    border-radius: 5px;
    height: 40px;
    width: 85%;
    background-color: aliceblue;
    margin-right: 2%;
}

button:hover {
    background-color: beige;
}

.s-btn {
    margin-top: 0px;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    background-color: transparent;
    margin-right: 0%;
    vertical-align: middle;
}

.s-btn:hover {
    background-color: transparent;
}

.s-btn-img {
    width: 20px;
}

.text {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: bold;
    margin-right: 5%;
    margin-left: 5%;
    width: 190px;
}

.content-table {
    text-align: center;
}

.heading {
    font-family: 'Nunito Sans';
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 50px;
}

.penalty {
    font-family: 'Nunito Sans';
    font-size: 20px;
    margin-top: 16px;
}

.verified {
    font-family: 'Nunito Sans';
    font-size: 20px;
    margin-top: 16px;
}

.search {
    resize: none;
    font-size: 20px;
    font-family: 'Nunito Sans';
    border-radius: 20px;
    height: 32px;
    padding-top: 10px;
    vertical-align: middle;
    width: 50%;
    padding-left: 10px;
    margin-right: -100px;
}

.search_bar {
    text-align: center;
}

.image1 {
    margin-top: 3%;
    text-align: center;
}

.img {
    height: 200px;
}